html  {
  background-color: white;
  min-height: 100%;
  position:relative;
}

body {
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: black;

}

.credit {
  text-align: center;
  padding-top: 20px;
}

#powitanie {
  padding-top:15px;
  color: white;
}

#login {

  margin-bottom:60px;
}

#my-select {
  margin-bottom: 15px;
}

.Absolute-Center {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.Absolute-Center.is-Responsive {
  width: 50%;
  height: 50%;
  min-width: 200px;
  max-width: 400px;
  padding: 40px;
}
